body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #faf9f6;
    margin: 0;
    background-color: #faf9f6;
}

.header {
    text-align: left;
    background: #2e2e2e;
    background-image: url("images/IMG_2047.PNG");
    background-repeat: no-repeat;
    background-position: left -250px bottom -50px;
    background-size: 700px;
    margin: 0;
    padding: 100px 0 40px 0;
    border-bottom: 8px solid #d9d9d9;
}

.header-text {
    font-size: 50px;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;;
}

#size-up {
    font-size: 80px;
}

.about {
    color:#2e2e2e;
    background: #faf9f6;
    border-top: 12px solid #ffb703;
    border-bottom: 12px solid #ffb703;
}

.nav {
    color:#faf9f6;
    background: #2e2e2e;
    border-top: 8px solid #d9d9d9;
    border-bottom: 12px solid #d9d9d9;
}

.btn-nav-container {
    display: flex;
    margin: 0 100px 35px;
    justify-content: center;
}

.btn {
    font-family: 'Poppins', sans-serif;
    color: #faf9f6;
    background: #ffb703;
    border: none;
    border-bottom: 4px solid #fb8500;
    border-left: 4px solid #fb8500;
    border-radius: 10%;
}

.btn:hover {
    background: #fb8500;
}

#btn-nav {
    font-size: 16px;
    padding: 10;
    margin: 0 25px;
}

.section {
    background: #faf9f6;
    border-top:12px solid #ffb703;
    border-bottom: 8px solid #d9d9d9;
}

.section-header {
    color: #2e2e2e;
}

.project-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#btn-project {
    margin: 35px;
    min-width: 360px;
    min-height: 240px;
    font-size: 20px;
    border-radius: 5%;
}

.circuit-design {
    background-image: url("images/IMG_2047.PNG");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: right bottom 250px;
}